<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>

<nav th:insert="base :: navbar"></nav>

    <a href="/homePage">Back to Home</a>

    <div th:text="${#lists.size(category.cars)>0}? 'Cars' : There are no cars listed in this Category..."></div>

    <div th:each="car : ${category.cars}">

        <h2 th:text="${car.manufacturer}"></h2>
        <h4 th:text="${car.model}"></h4>
        <h4 th:text="${car.year}"></h4>
        <span th:if="${car.image = ''}" type="hidden"></span>
        <img th:unless="${car.image = ''}" th:src="${car.image}" alt="car picture"/>

        <a th:href="@{/viewCar/{id} (id=${car.id})}">View This Car</a>
        <a th:href="@{/updateCar/{id} (id=${car.id})}">Update This Car</a>
        <a th:href="@{/deleteCar/{id} (id=${car.id})}">Delete This Car</a>

    </div>

    <a th:href="@{/updateCategory/{id} (id=${category.id})}">Update This Category</a>
    <a th:href="@{/deleteCategory/{id} (id=${category.id})}">Delete This Category</a>


    <div th:insert="base :: javascript"></div>
</body>
</html>